h1 { font-size: 3em; font-weight: bold; margin-top: 0;}

div#topHeaderRow {
   font-size: 0.9em;
   margin-top: 0;
}
.price { 
    color:red;
    font-weight: bold;
    font-size: 25px;
}

.similarTitle { 
    font-weight: bold;
    font-size:13px;
 }

.cartText { 

}

footer {
   margin-top: 1em;
   background-color: #E7E7E7;

}

.tight-form-group {  }

#copyrightRow { 
    background-color: #3A3A3A; 
    color:lightgray;
    height:40px;
    padding-top:10px;
}
#logoRow #name{
    display: inline-block;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    vertical-align: top;
    margin-top: 1px;
    margin-right: -2px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.con{
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 4px;
}
.num{
    background-color: #f8f8f8;
    height:40px;
    padding-top:10px;
    padding-left:15px;
}
.blockchange{
    width:205px;
    margin-left:20px;
    height:215px;
    display: inline-block;
}
.blockchange1{
    width:205px;
    height:215px;
    display: inline-block;
}
#center{
    width: 469px;
    margin: 0;
}
.m1{
    width:200px;
    margin-top:5px;
}
.m3{
    font-weight: bold;
}
.m4{
    margin-bottom:10px;
}
.m6{
    border-color: transparent;
    background-color: transparent;
}